{{define "header"}} This is a header {{end}} {{define "content"}}
<h1>Sign Up</h1>
<form action="/user/new" method="POST">
    <table>
        <tr>
            <td>Email</td>
            <td>
                <input type="text" name="email" />
            </td>
            <td>Password</td>
            <td>
                <input type="password" name="password" />
            </td>
        </tr>
    </table>
    <button type="submit">Sign Me Up</button>
</form>
{{end}} {{define "footer"}} This is a footer {{end}}
