<!DOCTYPE html>
<html>
    <head>
        <!-- Compressed CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css"
            crossorigin="anonymous"
        />

        <!-- Compressed JavaScript -->
        <script
            src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js"
            crossorigin="anonymous"
        ></script>
        <!-- foundation-float.min.css: Compressed CSS with legacy Float Grid -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation-float.min.css"
            crossorigin="anonymous"
        />

        <!-- foundation-prototype.min.css: Compressed CSS with prototyping classes -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation-prototype.min.css"
            crossorigin="anonymous"
        />

        <!-- foundation-rtl.min.css: Compressed CSS with right-to-left reading direction -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation-rtl.min.css"
            crossorigin="anonymous"
        />
    </head>
    <body>
        {{block "header" .}} This is the hedaer {{end}}
        <h1>Budget App</h1>
        {{block "content" .}} This will be the default content to render {{end}}
        {{template "income_expenses_table" .}} {{block "footer" .}} This is the
        footer {{end}}
    </body>
</html>
